
  <h3 class="step1CreateNodeHeading">Step 2:Enter the Node name </h3>
  <form (ngSubmit)=" createAssetLicense(myForm.value) " [formGroup]="myForm">
    <div class="step2Container">
      <div class="row step2ContainerRow">
        <div class="col s6 m6 l3">
          <p class="btnFooterName">Current Node</p>
        </div> 
        <div class="col s6 m6 l3 searc-view-button">
        <div class="btnNodeTxt">
         <span [ngClass]="'lg-' + (currentNode$ | async)?.label">{{ (currentNode$ | async)?.name}}</span>   </div>
        </div> 
      </div>
      <div class="row step2ContainerRow">
        <div class="col s6 m6 l4" style="margin-top: 1%;">
          <p class="btnFooterName">Asset</p>
        </div>
        <div class="col s6 m6 l8 pull-l1 pull-m3">
          <input id="NAME" type="text" placeholder="enter the name of new asset" formControlName="Assetname" class="text-item-color"/>  
        </div>    
      </div>
      <div class="row step2ContainerRow">
        <div class="col s6 m6 l4" style="margin-top: 1%;">
          <p class="btnFooterName">Select Classes</p>
        </div>
          <div class="col s6 m6 l8 pull-l1 pull-m3" >

            <ngx-treeview 
                [config]="config"
                [items]="items" 
                (selectedChange)="values = $event"
                (click) = "selectClassNode(values)">
            </ngx-treeview>
          </div>
        </div>      
      </div>
    
    <h3 class="step1CreateNodeHeading">Step 3:Enter the Details</h3>
    <div class="step2Container">
      <div class="row step2ContainerRow">
        <div class="col s6 m6 l4" style="margin-top: 1%;">
          <p class="btnFooterName">Enter Serial Number</p>
        </div>
        <div class="col s6 m6 l8 pull-l1 pull-m3">
          <input id="NAME" type="text" formControlName="serialNumber" class="text-item-color"/> 
        </div> 
      </div>
      <div  *ngIf = "(responseError$ | async)" id="modal1">
        <div  *ngIf = "(model$ | async)" class="modal modal-window-style">
          <div class="modal-content">
            <p>{{ status }}</p>
          </div>
          <div  class="modal-footer modal-window-footer-style">
            <a  class="modal-action modal-close waves-effect waves-green btn-flat" style="color:white;"(click)= 'modalclose()'>OK</a>
          </div>
        </div>
      </div>
      <div class="row step2ContainerRow">
        <div class="col s6 m6 l4" style="margin-top: 1%;">
          <p class="btnFooterName">MAX Asset Count</p>
        </div>
        <div class="col s6 m6 l8 pull-l1 pull-m3">
          <input id="NAME" type="text" formControlName="maxAssetCount" class="text-item-color"/> 
        </div> 
      </div>
    </div>
    <div  *ngIf = "(responseError$ | async)" id="modal1">
        <div  *ngIf = "!(model$ | async)" class="modal modal-window-style">
          <div class="modal-content">
            <p>{{ status }}</p>
          </div>
          <div  class="modal-footer modal-window-footer-style">
            <a  class="modal-action modal-close waves-effect waves-green btn-flat" style="color:white;"(click)= 'modalclose()'>OK</a>
          </div>
        </div>
    </div>
    <div class="row step2ContainerRow">
      <div class="col s6 m5 l5 push-l8 push-m3">
        <button class="waves-effect waves-light btn hover" (click)=" resetForm() " value="Cancel">Cancel
        </button>
      </div>
      <div class="col s6 m5 l5 push-l5 push-m3">
        <input type="Submit" class="waves-effect waves-light btn hover" value="Confirm">
      </div>
     </div>
  </form> 
