<ngx-treeview _ngcontent-c12="" _nghost-c19="" ng-reflect-items="[object Object],[object Object" ng-reflect-config="[object Object]">
      <!---->
      <!---->
      <div _ngcontent-c19="" class="treeview-header">
          <!--bindings={
  "ng-reflect-ng-template-outlet-context": "[object Object]",
  "ng-reflect-ng-template-outlet": "[object Object]"
}-->
          <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c19="" class="row row-filter">
              <div _ngcontent-c19="" class="col-12">
                  <input _ngcontent-c19="" class="form-control ng-untouched ng-pristine ng-valid" type="text" ng-reflect-model="" placeholder="Filter">
              </div>
          </div>
          <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c19="">
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c19="" class="row">
                  <div _ngcontent-c19="" class="col-12">
                      <!--bindings={
  "ng-reflect-ng-if": "true"
}--><label _ngcontent-c19="" class="form-check-label">
                          <input _ngcontent-c19="" class="form-check-input ng-untouched ng-pristine ng-valid" type="checkbox">
                              All
                      </label>
                      <!--bindings={
  "ng-reflect-ng-if": "true"
}--><label _ngcontent-c19="" class="pull-right form-check-label">
                          <i _ngcontent-c19="" aria-hidden="true" class="fa fa-compress" title="Collapse"></i>
                      </label>
                  </div>
              </div>
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c19="" class="dropdown-divider"></div>
          </div>
      
      </div>
      <div _ngcontent-c19="" ng-reflect-ng-switch="true">
          <!--bindings={
  "ng-reflect-ng-switch-case": "true"
}--><div _ngcontent-c19="" class="treeview-container" style="max-height: 400px;">
              <!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--><ngx-treeview-item _ngcontent-c19="" _nghost-c20="" ng-reflect-config="[object Object]" ng-reflect-template="[object Object]" ng-reflect-item="[object Object]">
      <!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}--><div _ngcontent-c20="" class="treeview-item">
          <!--bindings={
  "ng-reflect-ng-template-outlet-context": "[object Object]",
  "ng-reflect-ng-template-outlet": "[object Object]"
}-->
          <div _ngcontent-c19="" class="form-check">
              <!--bindings={
  "ng-reflect-ng-if": "[object Object],[object Object"
}--><i _ngcontent-c19="" aria-hidden="true" class="fa fa-caret-right"></i>
              <label _ngcontent-c19="" class="form-check-label">
                  <input _ngcontent-c19="" class="form-check-input ng-untouched ng-pristine ng-valid" type="checkbox" ng-reflect-is-disabled="false" ng-reflect-model="true">
                  Children
              </label>
          </div>
      
          <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
      </div>
    </ngx-treeview-item><ngx-treeview-item _ngcontent-c19="" _nghost-c20="" ng-reflect-config="[object Object]" ng-reflect-template="[object Object]" ng-reflect-item="[object Object]">
      <!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}--><div _ngcontent-c20="" class="treeview-item">
          <!--bindings={
  "ng-reflect-ng-template-outlet-context": "[object Object]",
  "ng-reflect-ng-template-outlet": "[object Object]"
}-->
          <div _ngcontent-c19="" class="form-check">
              <!--bindings={
  "ng-reflect-ng-if": "[object Object],[object Object"
}--><i _ngcontent-c19="" aria-hidden="true" class="fa fa-caret-down"></i>
              <label _ngcontent-c19="" class="form-check-label">
                  <input _ngcontent-c19="" class="form-check-input ng-untouched ng-pristine ng-valid" type="checkbox" ng-reflect-is-disabled="false">
                  IT
              </label>
          </div>
      
          <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c20="">
              <!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--><ngx-treeview-item _ngcontent-c20="" _nghost-c20="" ng-reflect-config="[object Object]" ng-reflect-template="[object Object]" ng-reflect-item="[object Object]">
      <!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}--><div _ngcontent-c20="" class="treeview-item">
          <!--bindings={
  "ng-reflect-ng-template-outlet-context": "[object Object]",
  "ng-reflect-ng-template-outlet": "[object Object]"
}-->
          <div _ngcontent-c19="" class="form-check">
              <!--bindings={
  "ng-reflect-ng-if": "[object Object],[object Object"
}--><i _ngcontent-c19="" aria-hidden="true" class="fa fa-caret-down"></i>
              <label _ngcontent-c19="" class="form-check-label">
                  <input _ngcontent-c19="" class="form-check-input ng-untouched ng-pristine ng-valid" type="checkbox" ng-reflect-is-disabled="false">
                  Programming
              </label>
          </div>
      
          <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c20="">
              <!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--><ngx-treeview-item _ngcontent-c20="" _nghost-c20="" ng-reflect-config="[object Object]" ng-reflect-template="[object Object]" ng-reflect-item="[object Object]">
      <!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}--><div _ngcontent-c20="" class="treeview-item">
          <!--bindings={
  "ng-reflect-ng-template-outlet-context": "[object Object]",
  "ng-reflect-ng-template-outlet": "[object Object]"
}-->
          <div _ngcontent-c19="" class="form-check">
              <!--bindings={
  "ng-reflect-ng-if": "[object Object],[object Object"
}--><i _ngcontent-c19="" aria-hidden="true" class="fa fa-caret-down"></i>
              <label _ngcontent-c19="" class="form-check-label">
                  <input _ngcontent-c19="" class="form-check-input ng-pristine ng-valid ng-touched" type="checkbox" ng-reflect-is-disabled="false" ng-reflect-model="true">
                  Frontend
              </label>
          </div>
      
          <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c20="">
              <!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--><ngx-treeview-item _ngcontent-c20="" _nghost-c20="" ng-reflect-config="[object Object]" ng-reflect-template="[object Object]" ng-reflect-item="[object Object]">
      <!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}--><div _ngcontent-c20="" class="treeview-item">
          <!--bindings={
  "ng-reflect-ng-template-outlet-context": "[object Object]",
  "ng-reflect-ng-template-outlet": "[object Object]"
}-->
          <div _ngcontent-c19="" class="form-check">
              <!--bindings={}-->
              <label _ngcontent-c19="" class="form-check-label">
                  <input _ngcontent-c19="" class="form-check-input ng-untouched ng-pristine ng-valid" type="checkbox" ng-reflect-is-disabled="false" ng-reflect-model="true">
                  Angular 1
              </label>
          </div>
      
          <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c20="">
              <!--bindings={}-->
          </div>
      </div>
    </ngx-treeview-item><ngx-treeview-item _ngcontent-c20="" _nghost-c20="" ng-reflect-config="[object Object]" ng-reflect-template="[object Object]" ng-reflect-item="[object Object]">
      <!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}--><div _ngcontent-c20="" class="treeview-item">
          <!--bindings={
  "ng-reflect-ng-template-outlet-context": "[object Object]",
  "ng-reflect-ng-template-outlet": "[object Object]"
}-->
          <div _ngcontent-c19="" class="form-check">
              <!--bindings={}-->
              <label _ngcontent-c19="" class="form-check-label">
                  <input _ngcontent-c19="" class="form-check-input ng-untouched ng-pristine ng-valid" type="checkbox" ng-reflect-is-disabled="false" ng-reflect-model="true">
                  Angular 2
              </label>
          </div>
      
          <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c20="">
              <!--bindings={}-->
          </div>
      </div>
    </ngx-treeview-item><ngx-treeview-item _ngcontent-c20="" _nghost-c20="" ng-reflect-config="[object Object]" ng-reflect-template="[object Object]" ng-reflect-item="[object Object]">
      <!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}--><div _ngcontent-c20="" class="treeview-item">
          <!--bindings={
  "ng-reflect-ng-template-outlet-context": "[object Object]",
  "ng-reflect-ng-template-outlet": "[object Object]"
}-->
          <div _ngcontent-c19="" class="form-check">
              <!--bindings={}-->
              <label _ngcontent-c19="" class="form-check-label">
                  <input _ngcontent-c19="" class="form-check-input ng-untouched ng-pristine" type="checkbox" ng-reflect-is-disabled="true" ng-reflect-model="true" disabled="">
                  ReactJS
              </label>
          </div>
      
          <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c20="">
              <!--bindings={}-->
          </div>
      </div>
    </ngx-treeview-item>
          </div>
      </div>
    </ngx-treeview-item><ngx-treeview-item _ngcontent-c20="" _nghost-c20="" ng-reflect-config="[object Object]" ng-reflect-template="[object Object]" ng-reflect-item="[object Object]">
      <!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}--><div _ngcontent-c20="" class="treeview-item">
          <!--bindings={
  "ng-reflect-ng-template-outlet-context": "[object Object]",
  "ng-reflect-ng-template-outlet": "[object Object]"
}-->
          <div _ngcontent-c19="" class="form-check">
              <!--bindings={
  "ng-reflect-ng-if": "[object Object],[object Object"
}--><i _ngcontent-c19="" aria-hidden="true" class="fa fa-caret-down"></i>
              <label _ngcontent-c19="" class="form-check-label">
                  <input _ngcontent-c19="" class="form-check-input ng-untouched ng-pristine ng-valid" type="checkbox" ng-reflect-is-disabled="false">
                  Backend
              </label>
          </div>
      
          <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c20="">
              <!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--><ngx-treeview-item _ngcontent-c20="" _nghost-c20="" ng-reflect-config="[object Object]" ng-reflect-template="[object Object]" ng-reflect-item="[object Object]">
      <!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}--><div _ngcontent-c20="" class="treeview-item">
          <!--bindings={
  "ng-reflect-ng-template-outlet-context": "[object Object]",
  "ng-reflect-ng-template-outlet": "[object Object]"
}-->
          <div _ngcontent-c19="" class="form-check">
              <!--bindings={}-->
              <label _ngcontent-c19="" class="form-check-label">
                  <input _ngcontent-c19="" class="form-check-input ng-untouched ng-pristine ng-valid" type="checkbox" ng-reflect-is-disabled="false" ng-reflect-model="true">
                  C#
              </label>
          </div>
      
          <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c20="">
              <!--bindings={}-->
          </div>
      </div>
    </ngx-treeview-item><ngx-treeview-item _ngcontent-c20="" _nghost-c20="" ng-reflect-config="[object Object]" ng-reflect-template="[object Object]" ng-reflect-item="[object Object]">
      <!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}--><div _ngcontent-c20="" class="treeview-item">
          <!--bindings={
  "ng-reflect-ng-template-outlet-context": "[object Object]",
  "ng-reflect-ng-template-outlet": "[object Object]"
}-->
          <div _ngcontent-c19="" class="form-check">
              <!--bindings={}-->
              <label _ngcontent-c19="" class="form-check-label">
                  <input _ngcontent-c19="" class="form-check-input ng-untouched ng-pristine ng-valid" type="checkbox" ng-reflect-is-disabled="false" ng-reflect-model="true">
                  Java
              </label>
          </div>
      
          <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c20="">
              <!--bindings={}-->
          </div>
      </div>
    </ngx-treeview-item><ngx-treeview-item _ngcontent-c20="" _nghost-c20="" ng-reflect-config="[object Object]" ng-reflect-template="[object Object]" ng-reflect-item="[object Object]">
      <!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}--><div _ngcontent-c20="" class="treeview-item">
          <!--bindings={
  "ng-reflect-ng-template-outlet-context": "[object Object]",
  "ng-reflect-ng-template-outlet": "[object Object]"
}-->
          <div _ngcontent-c19="" class="form-check">
              <!--bindings={}-->
              <label _ngcontent-c19="" class="form-check-label">
                  <input _ngcontent-c19="" class="form-check-input ng-untouched ng-pristine" type="checkbox" ng-reflect-is-disabled="true" ng-reflect-model="false" disabled="">
                  Python
              </label>
          </div>
      
          <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c20="">
              <!--bindings={}-->
          </div>
      </div>
    </ngx-treeview-item>
          </div>
      </div>
    </ngx-treeview-item>
          </div>
      </div>
    </ngx-treeview-item><ngx-treeview-item _ngcontent-c20="" _nghost-c20="" ng-reflect-config="[object Object]" ng-reflect-template="[object Object]" ng-reflect-item="[object Object]">
      <!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}--><div _ngcontent-c20="" class="treeview-item">
          <!--bindings={
  "ng-reflect-ng-template-outlet-context": "[object Object]",
  "ng-reflect-ng-template-outlet": "[object Object]"
}-->
          <div _ngcontent-c19="" class="form-check">
              <!--bindings={
  "ng-reflect-ng-if": "[object Object],[object Object"
}--><i _ngcontent-c19="" aria-hidden="true" class="fa fa-caret-down"></i>
              <label _ngcontent-c19="" class="form-check-label">
                  <input _ngcontent-c19="" class="form-check-input ng-untouched ng-pristine ng-valid" type="checkbox" ng-reflect-is-disabled="false" ng-reflect-model="true">
                  Networking
              </label>
          </div>
      
          <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c20="">
              <!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--><ngx-treeview-item _ngcontent-c20="" _nghost-c20="" ng-reflect-config="[object Object]" ng-reflect-template="[object Object]" ng-reflect-item="[object Object]">
      <!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}--><div _ngcontent-c20="" class="treeview-item">
          <!--bindings={
  "ng-reflect-ng-template-outlet-context": "[object Object]",
  "ng-reflect-ng-template-outlet": "[object Object]"
}-->
          <div _ngcontent-c19="" class="form-check">
              <!--bindings={}-->
              <label _ngcontent-c19="" class="form-check-label">
                  <input _ngcontent-c19="" class="form-check-input ng-untouched ng-pristine ng-valid" type="checkbox" ng-reflect-is-disabled="false" ng-reflect-model="true">
                  Internet
              </label>
          </div>
      
          <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c20="">
              <!--bindings={}-->
          </div>
      </div>
    </ngx-treeview-item><ngx-treeview-item _ngcontent-c20="" _nghost-c20="" ng-reflect-config="[object Object]" ng-reflect-template="[object Object]" ng-reflect-item="[object Object]">
      <!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}--><div _ngcontent-c20="" class="treeview-item">
          <!--bindings={
  "ng-reflect-ng-template-outlet-context": "[object Object]",
  "ng-reflect-ng-template-outlet": "[object Object]"
}-->
          <div _ngcontent-c19="" class="form-check">
              <!--bindings={}-->
              <label _ngcontent-c19="" class="form-check-label">
                  <input _ngcontent-c19="" class="form-check-input ng-untouched ng-pristine ng-valid" type="checkbox" ng-reflect-is-disabled="false" ng-reflect-model="true">
                  Security
              </label>
          </div>
      
          <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c20="">
              <!--bindings={}-->
          </div>
      </div>
    </ngx-treeview-item>
          </div>
      </div>
    </ngx-treeview-item>
          </div>
      </div>
    </ngx-treeview-item><ngx-treeview-item _ngcontent-c19="" _nghost-c20="" ng-reflect-config="[object Object]" ng-reflect-template="[object Object]" ng-reflect-item="[object Object]">
      <!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}--><div _ngcontent-c20="" class="treeview-item">
          <!--bindings={
  "ng-reflect-ng-template-outlet-context": "[object Object]",
  "ng-reflect-ng-template-outlet": "[object Object]"
}-->
          <div _ngcontent-c19="" class="form-check">
              <!--bindings={
  "ng-reflect-ng-if": "[object Object],[object Object"
}--><i _ngcontent-c19="" aria-hidden="true" class="fa fa-caret-right"></i>
              <label _ngcontent-c19="" class="form-check-label">
                  <input _ngcontent-c19="" class="form-check-input ng-untouched ng-pristine" type="checkbox" ng-reflect-is-disabled="true" ng-reflect-model="true" disabled="">
                  Teen
              </label>
          </div>
      
          <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
      </div>
    </ngx-treeview-item><ngx-treeview-item _ngcontent-c19="" _nghost-c20="" ng-reflect-config="[object Object]" ng-reflect-template="[object Object]" ng-reflect-item="[object Object]">
      <!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}--><div _ngcontent-c20="" class="treeview-item">
          <!--bindings={
  "ng-reflect-ng-template-outlet-context": "[object Object]",
  "ng-reflect-ng-template-outlet": "[object Object]"
}-->
          <div _ngcontent-c19="" class="form-check">
              <!--bindings={}-->
              <label _ngcontent-c19="" class="form-check-label">
                  <input _ngcontent-c19="" class="form-check-input ng-untouched ng-pristine" type="checkbox" ng-reflect-is-disabled="true" ng-reflect-model="false" disabled="">
                  Others
              </label>
          </div>
      
          <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c20="">
              <!--bindings={}-->
          </div>
      </div>
    </ngx-treeview-item>
          </div>
          <!--bindings={
  "ng-reflect-ng-switch-case": "false"
}-->
      </div>
    </ngx-treeview>