<div class="container" *ngIf="!(isCreateNodeVisible$ | async)">
    <div class="row">
                <div class="col s6 m4 l4">
                    <div class="selectedNodeDiv">
                        <span [ngClass]="'lg-' + (currentNode$ | async)?.label"></span>{{ (currentNode$ | async)?.name}}
                        <i *ngIf="(currentNode$ | async)?.name" class="fa fa-chevron-down" aria-hidden="true" ></i>
                    </div>
<!--                     <div id="modal1" class="modal selectedNodeModal">
                        <div class="modal-content" >
                        <i  class="fa fa-chevron-up" aria-hidden="true" style="color: #2fb5b6;"></i>
                        <ul class="selectedNodeUl">
                        </ul>
                        </div>
                    </div> -->
                </div>
<!-- =====end expand modal -->
                <div  class="col s6 m4 l4">
                    <input type="text" id="myInput" [ngModel]='searchterm' (keyup)="onSearch($event)" placeholder=" Search here" title="Type in a name" class="searchTextClass">
                    <i class="fa fa-search Color-search"></i>
                </div>
                <div class="col s6 m4 l3 pull-l1 create-node-div">
                    <a routerLink="/createnode" class="waves-effect waves-light btn createNodeClass hover" (click)="createNode()" >Create Node</a>
                </div>
              
                <div class="col l4 push-l1 createlicense-div">
                     <a class="waves-effect waves-light btn createLicense hover." *ngIf="(currentNode$ | async)?.label === 'contractType'" (click)="createLicenseTerm()" >License Creation</a>   
                </div>
                  <div class="col l4 push-l3 create-generate-code-div">
                    <a class="waves-effect waves-light btn createGenerateCodeClass hover" *ngIf="(currentNode$ | async)?.label === 'asset'" (click)="generate()" [routerLink] = "['./generate']">Generate QR Code</a>
                </div>
        </div>

</div>
<div>
<router-outlet></router-outlet>
</div>

