<div class="contractType-container">
  <div class="col" *ngIf="(ExpandedNodeLabel === 'contractType')">
  <form (ngSubmit)=" createContractType(myForm.value) " [formGroup]="myForm">
    <div class="step2Container">
      <div class="row step2ContainerRow">
        <div class="col s6 m6 l3">
          <p class="btnFooterName">Current Node </p>
        </div> 
        <div class="col s6 m6 l3">
          <!-- <button class="editbtn editbtnOrg">{{ (currentNode$ | async)?.name}}></button>  --> 
          <div class="col s6 m6 l4 push-l4 searc-view-button">
          <div class="btnNodeTxt">
          <span [ngClass]="'lg-' + (currentNode$ | async)?.label">{{ (currentNode$ | async)?.name}}</span>  
          </div> 
          </div> 
        </div>
      </div>
      <div class="row step2ContainerRow">
        <div class="col s6 m6 l4" style="margin-top: 1%;">
          <p class="btnFooterName">Contract Type</p>
        </div>
        <div class="col s6 m6 l6">
          <input id="NAME" type="text" placeholder="enter the name of new contract type" formControlName="Contractname" class="text-item-color"/>  
        </div>    
      </div>
      <div class="row step2ContainerRow">
        <div class="col s6 m6 l4" style="margin-top: 1%;">
          <p class="btnFooterName">Select Classes</p>
        </div>
        <div > 
         <div class="col s6 m6">
                <ngx-treeview 
                    [config]="config"
                    [items]="items" 
                    (selectedChange)="values = $event"
                    (click) = "selectClassNode(values)">
                </ngx-treeview>
         </div>
        </div>
      </div>
      <div class="row step2ContainerRow">
        <div  class="col s6 m6 l4">
              <p class="btnFooterName">Application </p> 
         </div>
         <div class="col s6 m6 l6">     
              <select class="select createnode-dropdown" (change) = "onSelect($event.target.value)">
              <option value='Select' [selected]='Select'>Select</option>
              <option value='WiproAdmin'>WiproAdmin</option>
              <option value='AssetDashboard'>AssetDashboard</option>
              <option value='WarrentyApp'>Warranty</option>
             </select>
        </div>
        <div *ngIf = "(responseError$ | async)" id="modal1">
        <div  *ngIf = "!(model$ | async)" class="modal modal-window-style">
          <div class="modal-content">
            <p>{{ status }}</p>
          </div>
          <div  class="modal-footer modal-window-footer-style">
            <a  class="modal-action modal-close waves-effect waves-green btn-flat" style="color:white;"(click)= 'modalclose()'>OK</a>
          </div>
        </div> 
        </div>  
      </div>
    </div>
    <div class="row step2ContainerRow">
      <div class="col s6 m5 l5 push-l8 push-m3">
        <button class="waves-effect waves-light btn hover" (click)=" resetForm() " value="Cancel">Cancel
        </button>
      </div>
      <div class="col s6 m5 l5 push-l5 push-m3">
        <button type="Submit" data-target='modal1' class="waves-effect waves-light btn hover" value="Confirm">CONFIRM </button>
      </div>
    </div>
  </form> 
  </div>
</div>
