<div class="container" > 
	<h3 class="registerProductHeading">Status</h3>
    	<div class="step3Container">
        	<div class="row step2ContainerRow">
            	<div class="col s6 m6 l3">
                	<p class="btnFooterName">Product Registration Status</p>     
                </div>
                <div class="col s7 m8 l9 pull-m1">
                 	<p>{{ status }}</p>
                </div>
                <div class="col s7 m8 l9 pull-m1">
                    <p>Succesfully onboarded</p>
                </div>
            </div>
            <div class="row step2ContainerRow">
                <div class="col s6 m5 l5 push-l8 push-m3">
                    <button class="waves-effect waves-light btn hover" (click)=" Close()" value="Cancel">Close</button>
                </div>
            </div>
        </div>
</div>