<div>
  <left-nav></left-nav>
</div>
<div class="contractType-container">
  <h1 class="step1CreateNodeHeading"> Creation of License Term</h1>
  <form (ngSubmit)=" creationLicenseTerm(myForm.value) " [formGroup]="myForm">
      <div class="step2Container">
        <div class="row step2ContainerRow">
          <div class="col s6 m6 l3">
            <p class="btnFooterName">Current Node</p>
          </div> 
          <div class="col s6 m6 l3 searc-view-button">
            <div class="btnNodeTxt">
              <span [ngClass]="'lg-' + (currentNode$ | async)?.label">{{ (currentNode$ | async)?.name}}</span>
            </div>
          </div>
        </div>
        <div class="row step2ContainerRow">
          <div class="col s6 m6 l4" style="margin-top: 1%;">
            <p class="btnFooterName">Contract Type</p>
          </div>
          <div class="col s6 m6 l8 pull-l1 pull-m3">
            <input id="NAME" type="text" placeholder="enter the name of new contract type" formControlName="Contractname" class="text-item-color"/>  
          </div>    
        </div>
        <div class="row step2ContainerRow">
          <div class="col s6 m6 l4" style="margin-top: 1%;">
            <p class="btnFooterName">Select Classes</p>
          </div>
          <div>
            <div class="col s6 m6 l8 pull-l1 pull-m3">
              <ngx-treeview 
                  [config]="config"
                  [items]="items" 
                  (selectedChange)="values = $event"
                  (click) = "selectClassNode(values)">
              </ngx-treeview>
            </div>
          </div>       
        </div>
      </div>
      <h3 class="step1CreateNodeHeading"> Enter the Details</h3>
      <div class="step2Container">
        <div class="row step2ContainerRow">
          <div class="col s6 m6 l4" style="margin-top: 1%;">
            <p class="btnFooterName">MAX Data Item Count</p>
          </div>
          <div class="col s6 m6 l8 pull-l1 pull-m3">
            <input id="NAME" type="text" formControlName="DataItem" class="text-item-color"/> 
          </div> 
        </div>
        <div class="row step2ContainerRow">
          <div class="col s6 m6 l4" style="margin-top: 1%;">
            <p class="btnFooterName">MAX Concurrent Session</p>
          </div>
          <div class="col s6 m6 l8 pull-l1 pull-m3">
            <input id="NAME" type="text" formControlName="ConcurrentSession" class="text-item-color"/> 
          </div> 
        </div>
        <div class="row step2ContainerRow">
          <div class="col s6 m6 l4" style="margin-top: 1%;">
            <p class="btnFooterName">MAX Asset Session</p>
          </div>
          <div class="col s6 m6 l8 pull-l1 pull-m3">
            <input id="NAME" type="text" formControlName="ConcurrentAssetSession" class="text-item-color"/>
          </div> 
        </div>
      </div>
      <div  *ngIf = "(responseError$ | async)" id="modal1">
          <div  *ngIf = "!(model$ | async)" class="modal modal-window-style">
            <div class="modal-content">
              <p>{{ status }}</p>
            </div> 
            <div  class="modal-footer modal-window-footer-style">
              <a  class="modal-action modal-close waves-effect waves-green btn-flat" style="color:white;"(click)= 'modalclose()'>OK</a>
            </div>
          </div>
      </div>
      <div class="row step2ContainerRow">
        <div class="col s6 m5 l5 push-l8 push-m3">
          <button class="waves-effect waves-light btn hover" (click)=" resetForm() " value="Cancel">Cancel
          </button>
        </div>
        <div class="col s6 m5 l5 push-l5 push-m3">
          <button type="Submit" class="waves-effect waves-light btn hover" data-target="modal1" value="Confirm">CONFIRM</button>
        </div>
      </div>
  </form> 
</div>
  