.flex-container {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 1%;
  /*background-color: DodgerBlue;*/
}

.flex-container > div {
 /* background-color: #f1f1f1;*/
  width: 100px;
 /* margin: 10px;*/
  padding: 2% 2% 0% 0%;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  color: white;
}

.container-height{
   height: auto;
}
.modal-window-footer-style{
 background: #757575;
 color: white;
}

.btn-floating:hover {
    background-color:#5D6D7E;
    border: 2px solid!important;
}
.text-item-color{
  color: white;
}
.createNodeRow{
  margin-top: 1%;
}
 /*-- heading of create new node++++++++++++++++++++++++++++++++++++++++++++++--

 /*-- step 1 create new node++++++++++++++++++++++++++++++++++++++++++++++--*/
.step1Container{
    border-radius: 3px;
    background-color: #2c3a47!important;
    margin-bottom: 4%;
}
.select{
  display: list-item;
  color: rgba(0, 0, 0, 0.87);

}
.createnode-dropdown{
  color: white;
  border:none;
  outline: none;
}
.step1ContainerRowClass{

    padding-top: 3%;
    padding-bottom: 1%;
    margin-left: 0%!important;
}

.step1RoundBtnDiv .active{
    border: solid 2px #2fb5b6;
}
.btnFooterName{
    color: white!important;
    margin-bottom: 15px;
}
.step1CreateNodeHeading{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    color: white;
}
.roundNodeBtn-As :hover
{
  border: 2px solid!important;
}
.roundNodeBtn-As{
    content: 'As';
    color: #fc297d;
    font-weight: bold;
}
.roundNodeBtn-Cl{
    content: 'Cl';
    color: #fa6b41;
    font-weight: bold;
}
.roundNodeBtn-Og{
    content: 'Og';
    color: #fecb2f;
    font-weight: bold;

}
.roundNodeBtn-Ct{
    content: 'C';
    color: #4d5aff;
    font-weight: bold;

}
.roundNodeBtn-Pn{
    content: 'Pn';
    color: #74d20e;
    font-weight: bold;

}
.roundNodeBtn-Ad{
    content: 'Ad';
    color: #00f4ff;
    font-weight: bold;

}
.roundNodeBtn-DI{
    content: 'DI';
    color: #bf55ff;
    font-weight: bold;

}
.roundNodeBtn-Ct{
   content: 'CT';
    color: white;
    font-weight: bold;

}
.roundNodeBtn-Ev{
    content: 'Ev';
    color: #8b572a;
    font-weight: bold;

}
.roundNodeBtn-St{
    content: 'St';
    color: #43a9ff;
    font-weight: bold;

}
.roundNodeBtn-Mp{
    content: 'Mp';
    color: #9b9b9b;
    font-weight: bold;
}
.btn-floating{
    background-color:#1b222c!important;
}
.editbtn {
    width: 20%!important;
    background-color:red;
    border:1px solid #1b222c;
    color: white!important;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:13px;
    padding:9px 40px;
    text-decoration:none;
    text-shadow:0px 0px 0px #2f6627;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.editbtn:hover {
    background-color:#5D6D7E;
}
button.editbtnOrg span { color: #ffd100; }

.searchTextClass{
    color: white;
    margin-left: 0%!important;
    width: 20%!important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7D7C7B;
  text-align: left;
}
.editbtn {
    width: 70%!important;
    background-color:#1b222c;
    border:1px solid #1b222c;
    color: white!important;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:10px;
    padding:9px 40px;
    text-decoration:none;
    text-shadow:0px 0px 0px #2f6627;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.editbtn:hover {
    background-color:#5D6D7E;
}
button.editbtnOrg span { color: #ffd100; }
button.editbtnPro span { color: #74d20e; }
button.editbtnAsse span { color: #fc297d; }
button.editbtnEve span { color: #4d5aff; }
button.editbtnCi span { color: orange; }
   /*step 2 create new node++++++++++++++++++++++++++++++++++++++++++++++*/


.step2Container{
    border-radius: 3px;
    background-color: #2c3a47;
    height: auto;

}
.step2ContainerRow{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 4%;
}
 /*step 3 create new node++++++++++++++++++++++++++++++++++++++++++++++*/

.step3Container{
    border-radius: 3px;
    background-color: #2c3a47;
    /*height: 230px;*/
    width: auto;
}
.ckeckAvilbtn {
    width: 70%!important;
    background-color:#2c3a47;
    /*border:1px solid #1b222c;*/
    color: #2fb5b6!important;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:13px;
    padding:9px 40px;
    text-decoration:none;
    text-shadow:0px 0px 0px #2f6627;
    white-space: nowrap;
   /* overflow: hidden;
    text-overflow: ellipsis;*/
    border-style: none;
}
.ckeckAvilbtn:hover {
    background-color:#5D6D7E;
    color: white!important;
}

.modal {
  display: block!important;
  position: absolute!important;
  background: #9E9E9E;
  color: white;
}
.modal-window-style{
  margin-top: -33%;
  margin-left: 29%;
}

/* ================== tree view CSS ===============*/
.form-check-label >  [type="checkbox"]:not(:checked),
.form-check-label >  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
@media (max-width: 480px) 
{
   /* .search-view-block{
    background: white!important;
 }*/
.filterChkboxLabel{
  margin-left: 30%!important;
  
} 
}
.form-check-input [type="checkbox"]:checked + label:before{
  border: 2px solid transparent;
  border-bottom: 2px solid #2fb5b6 !important;
  border-right: 2px solid #2fb5b6;
  background: transparent;
}
.form-check-input .filled-in[type="checkbox"] + label:after{
  border: 2px solid #2fb5b6;
  background: transparent;
}
.form-check-input .filled-in[type="checkbox"]:checked + label:after{
  background: indigo;
}
.productclass{
  font-weight: bold;
}


.searc-view-button {
    background-color: #1b222c;
    color: white;
    width: max-content !important;
    display: inline-block;
    border: 1px solid #1b222c;
    cursor: pointer;
    font-family: Arial;
    font-size: 12px;
    padding: 8px 10px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #2f6627;
    white-space: nowrap;
    margin-left:3%;

}

.lg-org {
    color: #ffd100;
}
.lg-adminUnit {
    color: #00f4ff;
}
.lg-contractType {
    color: #4d5aff;
}
.lg-principal {
    color: #74d20e;
}
.lg-contract {
    color: #b27f53;
}
.lg-class {
  color: #fc297d;
}
.lg-asset {
    color: #72bf25a6;
}

.lg-org:before{
     content: "Og";
     font-family: Roboto;
     font-size: 15px;
     font-weight: bold;
     text-align: left;
     padding:10px;
 }
.lg-adminUnit:before{
    content: "Ad";
    font-family: Roboto;
     font-size: 15px;
     font-weight: bold;
     text-align: left;
     padding:10px;
}
.lg-contractType:before{
    content: "Ct";
    font-family: Roboto;
     font-size: 15px;
     font-weight: bold;
     text-align: left;
     padding:10px;
}
.lg-principal:before{
    content: "Pn";
    font-family: Roboto;
     font-size: 15px;
     font-weight: bold;
     text-align: left;
     padding:10px;
}
.lg-contract:before{
    content: "C";
    font-family: Roboto;
     font-size: 15px;
     font-weight: bold;
     text-align: left;
     padding:10px;
}
.lg-class:before{
    content: "Cl";
    font-family: Roboto;
     font-size: 15px;
     font-weight: bold;
     text-align: left;
     padding:10px;
}
.lg-asset:before{
    content: "As";
    font-family: Roboto;
     font-size: 15px;
     font-weight: bold;
     text-align: left;
     padding:10px;
}
.target:target{
  border:2px solid red;
}
/*----------------------media query ----------------------*/


 .btnNodeTxt{
      text-overflow : ellipsis;
        white-space   : nowrap;
        overflow      : hidden;
 }
 .hide{
  display: none;
 }
 .select{
  display: list-item;
  background-color: #445867;
 }
 .popup-window{
    height:80px;
    align-items: center;
    background-color: #5D6D7E;
    margin-left: 30%;
    width: 275px;
    padding: 7px;
}
 .createNewNodeHeading{
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    color: white;
    /*margin-left: -8px;*/
}
.data-dropdown-label{
    color: white;
    font-weight: bold;
    font-size:18px;
}

