<div class="container" > 

     <form [formGroup]="myForm" (ngSubmit)="generateNewAccountToken(myForm.value)">
     <div class="step3Container">
        <div class="row step2ContainerRow">
             <div class="col s6 m6 l3">
                <p class="btnFooterName">Principal Id</p>               
             </div>
             <div class="col s7 m8 l6">
                <input id="principal" type="text" placeholder="enter the principal id" formControlName ="principalid" class = "text-color">               
             </div>
        </div>
        <div class="row step2ContainerRow">
             <div class="col s6 m6 l3">
                <p class="btnFooterName">Account Name</p>               
             </div>
             <div class="col s7 m8 l6">
                <input id="principal" type="text" placeholder="enter the account name" formControlName ="accountname" class = "text-color">               
             </div>
        </div>
        <div class="row step2ContainerRow">
             <div class="col s6 m6 l3">
                <p class="btnFooterName">Select Contract Type</p>               
             </div>
             <div>  
                  <div class="col s6 m6 l6" >

                        <ngx-treeview 
                            [config]="config"
                            [items]="items" 
                            (selectedChange)="selectContractTypeNode($event)">
                            
                        </ngx-treeview>

                      </div>
                </div>      
        </div>
    </div>
        <!-- future Enhancements -->


        <!-- <div *ngIf = 'associate' class = "popup-window">
            <h6>Associated the contract</h6>
             <button type="button" class="waves-effect waves-light btn hover" (click)="closeModal()">Close</button>
        </div> -->
          <!-- <div  *ngIf = "(responseError$ | async)" id="modal1">
              <div  *ngIf = "!(model$ | async)" class="modal modal-window-style">
                <div class="modal-content">
                  <p>{{ errorStatus }}</p>
                </div>
                <div  class="modal-footer">
                  <a  class="modal-action modal-close waves-effect waves-green btn-flat" (click)= 'modalclose()'>OK</a>
                </div>
              </div>
        </div> -->
        <!-- <div  *ngIf = "(contractAssociation$ | async)" id="modal2">
            
                <div class="modal-content">
                  <p>{{ status }}</p>
                </div>
                <div  class="modal-footer">
                  <a  class="modal-action modal-close waves-effect waves-green btn-flat" (click)= 'closeModal()'>OK</a>
                </div>
                
        </div> -->
       
       <!-- future Enhancement -->
    <div class="row step2ContainerRow">
         <div class="col s6 m5 l5 push-l8 push-l3">
            <input type="submit" class="waves-effect waves-light btn hover" value="CONFIRM" (click) = "create()"> 
         </div>
         <div class="col s6 m5 l7 push-l5">
            <button class="waves-effect waves-light btn hover cancelbutton" (click)=" resetForm() " value="CANCEL">CANCEL
            </button> 
         </div>
    </div>         
</form>
</div>